.contact-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 21px);
    height: calc(100% - 21px);
}

.title h1 {
    font-size: 14px;
    text-align: center;
}

.title p {
    font-size: 12px;
    text-align: center;
}

input {
    border-radius: 4px;
    border: 2px solid rgb(244, 209, 255);
    padding: 10px;
    padding-left: 20px;
    margin: 20px 5px 15px 5px;
    box-sizing: border-box;
    cursor: text;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(34, 34, 34);
}

input[type=text] {
    width: 200px;
}

input[type=email] {
    width: 330px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(193, 140, 209) !important;
}

input[type=submit] {
    background-color: #fce1ff;
    color: #6d6d6d;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
    font-size: 11px;
    font-family: "Silkscreen", serif;
    font-style: normal;
}

input[type=submit]:hover {
    background-color: #cea1d3 !important;
    color: #ffffff;
    border-color: rgb(193, 140, 209);
}

textarea {
    border-radius: 4px;
    border: 2px solid rgb(244, 209, 255);
    width: 548px;
    height: 100px;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box;
    resize: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(34, 34, 34);
}

textarea:focus{
    outline: none;
    border: 2px solid rgb(193, 140, 209) !important;
}